body {
  background-color: lightgray;
  font-family: Arial Black;
  font-size: 24px;
}

img {
  background-color: white;
  align-content: center;
  vertical-align: bottom;
}

li {
  padding: 0px;
}

ul {
  background-color: black;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  color: white;
  width: 500px;
}
